body {
  background-color: #570A57;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #570A57;
}
.container-fluid {
  background-color: #570A57;
}
